html,
body {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font: 16px/1.5 'Helvetica Nenu', Helvetica, sans-serif;
  min-height: 100%;
  margin: 0 1vw; }

.main-menu {
  list-style: none;
  padding: 5px; }
  .main-menu li {
    float: left; }
    .main-menu li a {
      text-decoration: none;
      padding: 2px 7px;
      background-color: #ffffff;
      margin: 5px; }
      .main-menu li a.active {
        background-color: #ffdd99; }

.sub-menu li a {
  text-decoration: none;
  padding: 2px 7px;
  background-color: #ffffff;
  margin: 5px; }
  .sub-menu li a.active {
    background-color: #ffdd99; }

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear; }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
