
html,
body {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font: 20px/1.8 'Helvetica Nenu', Helvetica, sans-serif;
  min-height: 100%;
  margin: 0 1vw; }

.main-menu{
    list-style: none;
    padding: 5px;

    li{
        float: left;
        padding: 2px 7px;
        background-color: #ffffff;
        margin: 5px;

        a{
            text-decoration: none;
        }
    }
}